.education-card{
    background: rgba(255,255,255,.05);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,.08);

    border-radius:16px;

    padding:20px;
}

.education-card span{
    color:#666;
}