html{
    scroll-behavior:smooth;
}

.shape{

    position:fixed;

    border-radius:50%;

    filter:blur(90px);

    z-index:-10;
}

.shape1{

    width:300px;
    height:300px;

    background:#2563EB;

    top:-120px;
    right:-100px;

    opacity:.22;
}

.shape2{

    width:220px;
    height:220px;

    background:#8B5CF6;

    bottom:120px;
    left:-80px;

    opacity:.18;
}

.shape3{

    width:160px;
    height:160px;

    background:#06B6D4;

    top:50%;
    right:15%;

    opacity:.12;
}

body{
    font-family: "Inter", sans-serif;
    color: #F8FAFC;
    line-height: 1.7;

    background:
        radial-gradient(circle at top left,
            rgba(96,165,250,.20),
            transparent 35%),

        radial-gradient(circle at bottom right,
            rgba(168,85,247,.18),
            transparent 40%),

        #081120;

    min-height: 100vh;
}

.container{
    max-width:1100px;
    margin:auto;
    padding:40px 25px;
}

.section{
    margin-top:90px;
}

.section h2{
    margin-bottom:25px;
    font-size:2rem;
}

.btn{

    display:inline-block;

    margin-top:25px;

    padding:12px 24px;

    border-radius:999px;

    text-decoration:none;

    color:white;

    background:
        linear-gradient(
            135deg,
            #3B82F6,
            #8B5CF6
        );

    transition:.2s;
}

.btn:hover{

    transform:translateY(-2px);

    box-shadow:
        0 10px 30px rgba(59,130,246,.35);
}