.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    margin-top:25px;
}

.project-card{
    background: rgba(255,255,255,.05);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,.08);

    border-radius:16px;

    padding:20px;
}

.project-card h3{
    margin-bottom:15px;
}

.project-card p{
    color:#555;
    margin-bottom:15px;
}

.project-card span{
    color:#2563eb;
    font-size:.9rem;
}

.project-links{
    margin-top:20px;
}

.project-links a{
    text-decoration:none;
    margin-right:15px;
    color:#2563eb;
}